 main.skills{
    text-align: center;
}
main.skills h2{
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 4rem 0;
    color:var(--title);
}

main.skills div.skills-imges {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px , 1fr));
    gap: 5rem;
}
main.skills div.skills-imges div.card img{
    width: 100px;
    min-height: 100px;
}
main.skills div.skills-imges div.card .bootstrap{
    border-radius: 60px;
}
main.skills div.skills-imges div.card .mysql{
    border-radius: 55%;
}
main.skills div.skills-imges div.card .php{
    border-radius: 70%;
}
main.skills div.skills-imges div.card .express{
    border-radius: 50%;
}
/*


@media (width < 920px){
    main div div{
        width: 150px;
    }
    main div.flex{
        gap: 1.5rem;
    }
}
@media (width < 405px){
    main div.flex div{
        width: 80%;
        margin-inline: AUTO;
    }
} */