main.services{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main.services h2{
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
    color:var(--title);

}
main.services .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    text-align: center;
}
main.services .card{
    width: 325px;
    background-color:rgb(31,79,75);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    margin: 20px;
    transition: .3s;
    padding: 2rem 0px;
}
main.services .card .logo{
    width: 100%;
    height: 150px;
    margin-bottom: -30px;
}
main.services .card-content{
    padding: 16px;
     
}

main.services .card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
main.services .card-content p{
    color: var(--subtitle);
    font-size: 15px;
    line-height: 1.2rem;
    text-align: left;
}
main.services .card:hover{
    color: rgb(31,79,75);;
    background-color: var(--title);
    scale: 1.05;
}