@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    scroll-behavior: smooth;
  }

:root{
    --primary : rgb(34, 35, 51);
    --secondary : rgb(32, 33, 46);

    --original-color : #1414ff;
    --title: rgb(244 244 245);
    --subtitle: rgb(161 161 170);
    --color : #fdfdfd

    
}
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
    background-color: var(--primary);
    color: var(--color);
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.liner{
    border: 1px solid rgba(101, 93, 93, 0.239);
    margin-top: 4rem;
}
.flex{
    display: flex;
    align-items: center;
}
ul.social-media{
    gap: 1rem;
}
ul.social-media li{
    width: 40px;
    height: 40px;
}
button svg{
    font-size: 1.8rem;
    margin-bottom: -7px;
}
ul.social-media svg{
    color: var(--color);
    font-size: 1.5rem;
    transition: .3s;
    box-shadow: 1px 4px 10px rgb(17, 17, 17);
}
ul.social-media svg:hover{
    color: #1414ff;
    font-size: 2rem;
    background-color: transparent;
}
.App{
    width: 90%;
    margin-inline: auto;
    background-color: var(--secondary);
    border: 1px solid rgba(93, 93, 92, 0.436);
    border-radius: 10px;
    padding: 1rem;
}
.border{
    border: 1px solid red;
}
button{
    cursor: pointer;
}
button:disabled{
    opacity: .2;
    cursor: not-allowed;

}


@media(width < 500px ){
    .App{
        width: 100%;
        margin: 0;
    }
}